@model IEnumerable<ChildrenCare.Entities.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1>User List</h1>

<p>
    <a asp-controller="Customer" asp-action="AddCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            
            <td>
                <a asp-action="EditCustomer" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsCustomer" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
